<% include includes/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Secret</h1>
    </div>
    <form action="/secret" method="post">
        Orgnamn:<input type="text" name="customer[namn]"><br>
        Orgid<input type="number" name="customer[orgid]"><br>
        Adress<input type="text" name="customer[adress]"><br>
        Postnr<input type="text" name="customer[postnr]"><br>
        Postort<input type="text" name="customer[postort]"><br>
        Telefonnummer<input type="text" name="customer[telefonnummer]"><br>
        Förnamn<input type="text" name="customer[fornamn]"><br>
        Efternamn<input type="text" name="customer[efternamn]"><br>
        Status<input type="text" name="customer[status]"><br>
        <input type="submit">
    </form>

    <% data.customer.forEach(function(kund){ %>
        <div class="row">
            <div class="col-xs-12">
                <h1><%= kund.namn %></h1>
                <h1><%= kund.orgid %></h1>
                <h1><%= kund.adress %></h1>
                <h1><%= kund.postnr %></h1>
                <h1><%= kund.postort %></h1>
                <h1><%= kund.telefonnummer %></h1>
                <h1><%= kund.fornamn %></h1>
                <h1><%= kund.efternamn %></h1>
                <h1><%= kund.status %></h1>
            </div>
        </div>
    <%  }) %> 
</div>


<% include includes/footer %>
