<% include includes/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Secret</h1>
    </div>
    <form action="/secret" method="post">
        Orgid<input type="number" name="customer[orgid]"><br>
        Orgnamn:<input type="text" name="customer[foretagsnamn]"><br>
        Adress<input type="text" name="customer[adress]"><br>
        Postnr<input type="text" name="customer[postnr]"><br>
        Postort<input type="text" name="customer[postort]"><br>
        Namn<input type="text" name="customer[kontaktnamn]"><br>
        Telefonnummer<input type="text" name="customer[kontakttelefon]"><br>
        Epost<input type="text" name="customer[kontaktepost]"><br>
        Hemsida<input type="text" name="customer[kontakthemsida]"><br>
        Antal anställda<input type="number" name="customer[antalanstallda]"><br>
        Juridisk Form: 
        <select name="customer[juridiskform]">
            <option value="Enskild firma">Enskild firma</option>
            <option value="Aktiebolag">Aktiebolag</option>
            <option value="Handelsbolag">Handelsbolag</option>
            <option value="Kommanditbolag">Kommanditbolag</option>
            <option value="Förening">Förening</option>            
        </select><br>
        Koncernmoderbolagsnamn<input type="text" name="customer[koncernmoderbolagsnamn]"><br>
        Nettoomsättning<input type="text" name="customer[nettoomsattning]"><br>
        VD<input type="text" name="customer[vd]"><br>
        Status 
        <select name="customer[status]"> 
            <option value="Ring imorgon">Ring imorgon</option>
            <option value="Ring inom en vecka">Ring inom en vecka</option>
        </select>
        <input type="submit">
    </form>
    <form action="/secret-files" method="post" enctype="multipart/form-data">
        Filer: <input type="file" name="excel">
        <input type="submit">
    </form>

    
        <div class="row pull-right">
        <% data.customer.forEach(function(kund){ %>    
            <div class="col-xs-12">
                <h3><%= kund.foretagsnamn %></h3>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kund-<%= kund.orgid %>" aria-expanded="false" aria-controls="kund-collapse">Expandera</button>
                <div class="collapse" id="kund-<%= kund.orgid %>">
                    <p><%= kund.orgid %></p>
                    <p><%= kund.foretagsnamn %></p>
                    <p><%= kund.adress %></p>
                    <p><%= kund.postnr %></p>
                    <p><%= kund.postort %></p>
                    <p><%= kund.kontaktnamn %></p>
                    <p><%= kund.kontakttelefon %></p>
                    <p><%= kund.kontaktepost %></p>
                    <p><%= kund.kontakthemsida %></p>
                    <p><%= kund.antalanstallda %></p>
                    <p><%= kund.juridiskform %></p>
                    <p><%= kund.koncernmoderbolagsnamn %></p>
                    <p><%= kund.nettoomsattning %></p>
                    <p><%= kund.vd %></p>
                    <p>Status: <%= kund.status %></p>
                        <form method="post" action="/secret?_method=PUT">
                            <select class="new-status" name="status">
                                <option value="">Klicka här för att ändra status</option>
                                <option value="Ring imorgon">Ring imorgon</option>
                                <option value="Ring om en vecka">Ring om en vecka</option>
                                <option value="Uppringd">Uppringd</option>
                                <option value="Inget svar">Inget svar</option>
                                <option value="Återkom lite senare">Återkom lite senare</option>
                            </select>
                            <input type="hidden" value="<%= kund._id %>" name="customerid">
                        </form>
                </div>
 
                    
            </div>
            <%  }) %> 
        </div>
</div>


<% include includes/footer %>
