<% include includes/header %>
<div class="container">
    <div class="jumbotron">
        <h1>Secret</h1>
    </div>
    <form action="/secret" method="post">
        Orgnamn:<input type="text" name="customer[namn]"><br>
        Orgid<input type="number" name="customer[orgid]"><br>
        Adress<input type="text" name="customer[adress]"><br>
        Postnr<input type="text" name="customer[postnr]"><br>
        Postort<input type="text" name="customer[postort]"><br>
        Telefonnummer<input type="text" name="customer[telefonnummer]"><br>
        Förnamn<input type="text" name="customer[fornamn]"><br>
        Efternamn<input type="text" name="customer[efternamn]"><br>
        Status 
        <select name="customer[status]"> 
            <option value="Ring imorgon">Ring imorgon</option>
            <option value="Ring inom en vecka">Ring inom en vecka</option>
        </select>
        <input type="submit">
    </form>
    <form action="/secret-files" method="post" enctype="multipart/form-data">
        Filer: <input type="file" name="excel">
        <input type="submit">
    </form>

    
        <div class="row pull-right">
        <% data.customer.forEach(function(kund){ %>    
            <div class="col-xs-12">
                <h3><%= kund.namn %></h3>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kund-<%= kund.orgid %>" aria-expanded="false" aria-controls="kund-collapse">Expandera</button>
                <div class="collapse" id="kund-<%= kund.orgid %>">
                    <p>Org id: <%= kund.orgid %></p>
                    <p>Adress: <%= kund.adress %></p>
                    <p>Postnr: <%= kund.postnr %></p>
                    <p>Postort: <%= kund.postort %></p>
                    <p>Kontaktnummer: <%= kund.telefonnummer %></p>
                    <p>Kontaktnamn: <%= kund.fornamn %> <%= kund.efternamn %></p>
                    <p>Status: </p>
                        <form method="post" action="/secret?_method=PUT">
                            <select class="new-status" name="status">
                                <option value="<%= kund.status %>"><%= kund.status %></option>
                                <option value="Ring imorgon">Ring imorgon</option>
                                <option value="Ring om en vecka">Ring om en vecka</option>
                                <option value="Uppringd">Uppringd</option>
                                <option value="Inget svar">Inget svar</option>
                                <option value="Återkom lite senare">Återkom lite senare</option>
                            </select>
                            <input type="hidden" value="<%= kund._id %>" name="customerid">
                        </form>
                    
                </div>
            </div>
            <%  }) %> 
        </div>
</div>


<% include includes/footer %>
